body{
    padding: 0;
    margin: 0;
    background: black;
}

.images {
    width: 600px;
    height: 610px;
    margin: 0 auto;
    position: relative;
}

.images img {
    width: 100%;
    position: absolute;
    opacity: 0;
}

.buttons {
    text-align: center;
}

.buttons input{
    width: 100px;
    height: 60px;
    font-size: 30px;
}

.images img.showed {
    opacity: 1;
    transition: 2s;
}
